/* Base Application Styles */

:root {
  --color-blue: #006AB0;
  --color-blue-light: #008EFA;
  --color-green: #007A42;
  --color-green-light:#00B746;
  --color-red: #A44844;
  --color-red-light: #FF4D2E;
  --color-background: #2B4565;
}

body {
  color: #fff;
  background: var(--color-background);
  padding: 20px;
}

.index .notice {
  margin: 20px auto;
  padding: 15px 0;
  text-align: center;
  border: 1px solid #000;
  border-width: 1px 0;
  background: #666;
}

.index {
  display: flex;
}

.header{
  width: 100%;
  height: 100px;
  display:block;

  img {
    width: 100%;
    height: 100%;
  }
}
