.controls {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;

  input {
    width: 50%;
  }

  .button {
    width: calc(25% - 10px);
    margin-left: 10px;
  }

  .icon-slider {
    width: calc(50% - 10px);
  }
}
