.controls {
  display: flex;
  flex-direction: row;

  input {
    width: 50%;
    margin-right: 10px;
  }

  .button {
    width: calc(50% - 5px);
  }

  .icon-slider {
    width: calc(50% - 5px);
  }
}
