.icon-slider {
  .rc-slider-rail {
    background-color: var(--color-faded);
    height: 28px;
  }

  .rc-slider-track {
    background-color: var(--color-light);
    height: 28px;
  }

  .rc-slider-handle {
    display:none;
  }
}


