.key {
  background-color: var(--color-faded);
  width: 80px;
  height: 20px;
  margin: 2px;
  cursor: pointer;
  position: relative;

  &.enabled {
    background-color: var(--color-light);
  }
}

.modul:nth-child(1) .key {
  height: 36px;
}

.pitches {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  overflow: scroll;
}
.column {
  display: flex;
  flex-direction: column;
}

.column.highlighted .key {
  background-color: rgba(255,255,255,0.75);
  animation: highlight-fadeout 0.6s forwards;

  &.enabled {
    animation: highlight-enabled-fadeout 0.6s forwards;
  }
}


@keyframes highlight-fadeout {
  0% {background-color: rgba(255,255,255,0.6); box-shadow: 0 0 16px rgba(255,255,255,0.8);}
  100% {background-color: var(--color-faded); box-shadow: 0 0 0 rgba(255,255,255,0);}
}
@keyframes highlight-enabled-fadeout {
  0% {background-color: rgba(255,255,255,0.6); box-shadow: 0 0 16px rgba(255,255,255,0.8);}
  100% {background-color: var(--color-light); box-shadow: 0 0 0 rgba(255,255,255,0);}
}
