.key {
  background-color: grey;
  width: 20px;
  height: 20px;
  margin: 2px;
  cursor: pointer;
  &.enabled {
    background-color: white;
  }
  &.highlighted {
    background-color: gainsboro;
  }
}

.pitches {
  display: flex;
  flex-direction: row;
}
.column {
  display: flex;
  flex-direction: column;
}
