.key {
  background-color: grey;
  width: 20px;
  height: 20px;
  margin: 2px;
  cursor: pointer;
}

.pitches {
  display: flex;
  flex-direction: row;
}
.column {
  display: flex;
  flex-direction: column;
}
