.modules.large {
  display: flex;
  flex-direction: column;
  width: 65%;
  margin: 0 auto 128px auto;

  .column:nth-child(2n+0) {
    opacity: 0.7;
    .key {
      --color-faded: rgba(255, 255, 255, 0.3);
    }
  }
}
