.modul {
  background-color: var(--color);
  margin: 5px;
  padding: 10px;

  select {
    border: solid 2px var(--color-light);
    color: white;
    text-transform: uppercase;
    width: calc(100% - 2px);
    padding: 5px;
    background-color: var(--color);
    border-radius: 5px;
    margin-bottom: 10px;
  }
}
