.preloader {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1000;
    background-image: url("../images/loading-background.png");
    
    background-size: cover;
    background-repeat: no-repeat;

    & #logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 512px;
        height: 512px;
        background: url(../images/logo.png);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        animation: preloader-logo 2s infinite ease-in-out forwards;
        &.clicked {
            animation: preloader-logo-clicked 0.5s infinite linear;        
        }
    }

    &.finished {
        animation: preloader-fadeout 0.3s forwards;
        pointer-events: none;

        & #logo {
            animation: preloader-logo-fadeout 0.3s forwards;
        }
    }
}

@keyframes preloader-logo {
    0% {transform: translate(-50%, -50%) scale(0.9);}
    50% {transform: translate(-50%, -50%) scale(1.0);}
    100% {transform: translate(-50%, -50%) scale(0.9);}
}

@keyframes preloader-fadeout {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

@keyframes preloader-logo-fadeout {
    0% {}
    100% {transform: translate(-50%, -50%) scale(1.1);}
}

@keyframes preloader-logo-clicked {
    0% {transform: translate(-50%, -50%) rotate(0deg);}
    100% {transform: translate(-50%, -50%) rotate(360deg);}
}
